.logout-button {
    margin-left: 10px;
    background-color: #ff4d4d; /* Adjust color as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  
  
  .logout-button:hover {
    background-color: #ff3333; /* Adjust hover color as needed */
  }