@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: Outfit;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}

.content .container{
   min-height: 60vh;
  display: flex;
 justify-content: center;
  align-items: center;
  padding:25px;
 
} 
.container .submit-btn {
  color: #fff;
  display: block; 
  text-decoration: none; 
  text-align: center;
  font-size: 17px;
  width:300px; 
  padding: 12px; 
  background-color: #27ae60; 
  border: none;
  cursor: pointer;
 transition: background-color 0.3s ease; 
}

.container .submit-btn:hover {
  background-color: #2ecc71; 
}
.content .logout-btn{
  margin-left: 900px; 
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.content .logout-btn:hover{
  background: #2ecc71;
}
.content .open-main{
    background-color: #fff; 
    border: none; 
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 0px; 
}
@media (max-width:600px){
  .content .logout-btn{
    margin-left: 260px;
    }
}
