.Sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Initially hide the sidebar off-screen */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 250px;
    z-index: 1000;
  }
  
  .Sidebar.extended {
    left: 0; /* Slide the sidebar into view */
  }
  
  .Sidebar img {
    width: 20px;
  }
  
  .Sidebar .menu {
    position: fixed; /* Keep menu icon visible on the screen */
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001; /* Make sure the menu icon stays above the sidebar */
  }
  
  .Sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
  }
  
  .Sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
  }
  
  .Sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .Sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
  }
.Sidebar .recent-entry:nth-child(n+5) {
  display: none;
}
  
  .Sidebar .recent-entry:hover {
    background-color: #e2e6eb;
  }
  
  .Sidebar .bottom {
    display: flex;
    flex-direction: column;
  }
  
  .Sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
  }
  
  .Sidebar .bottom-item ul {
    margin: 10px 0;
  }
  
